@model IEnumerable<SportRentals.Models.ProductModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_assemblylayout.cshtml";
}

<h2>Index</h2>

<p>
    Sports Equipments
</p>
<table>
    @foreach (var item in Model)
    {

       
    <div class="col-md-2 column productbox">
        <img src=" @Html.DisplayFor(modelItem => item.ImageUrl)" width="150" /><br />
        <b>@Html.DisplayFor(modelItem => item.Name)</b><br />
        <div class="producttitle">Product 2</div>
        <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>

        
    </div>
       



    }


    


</table>
