
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>the simple way to follow your interests</p>
<div>
    <img src= https://www.switchbacktravel.com/sites/default/files/articles%20/Backcountry%20ski%20boots%20%282018-2019%29m.jpg  width="1000"/>
</div>
