

<style>
    body {
        padding-top: 100px;
        padding-bottom: 350px;
        background-image: url('../../Content/Image/xski3-1200x800.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat:no-repeat;
        margin: auto;
    }
</style>

 <div class="jumbotron bg-transparent" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 100%,rgba(255,255,255,0.9) 200%), url(https://www.e-zrentacar.com/wp-content/uploads/2017/06/xski3-1200x800.jpeg)">
     <div class="container">

         <div class="md-modal md-effect-3">

               <div class="col-md-12 col-sm-12 text-center lp_auto_loc_container">
                  <h1 data-locnmethod="withip">NEVER BE <font color="cherry-colored"> UN</font>EQUIPPED</h1>
                  <p class="lp-banner-browse-txt"><font size="3">Discover affordable rental sport equipment in Romania.</font></p>
               </div>
               <div class="text-center lp-search-description">
                            <p><font size="3">Popular Sports Equipment Rentals</font> <br> <br> <font size="5"><strong>Save time, save money, rent now!</strong></font></p>
               </div>

               <hr class="my-4">

              <p class="lead text-center">
                <button class="btn-danger" href="#" role="button">Read more</button>
              </p>
         </div>
               
     </div>
 </div>




                




               
