
@{
    ViewBag.Title = "Read more";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_assemblylayout.cshtml";
}

    <div id="wrapper">
        <div id="three-column" class="container">
            <div class="title">
                <h2>Welcome to Sport Rentals Shop</h2>
                <span class="byline">For your exciting winterholidays you need the perfect wintersports equipment! </span>
            </div>
            <div class="boxA">
                <img style="height: 200px; width: 100%; display: block;" src="https://theknow.denverpost.com/wp-content/uploads/2018/10/abasin-opening-day_AC30370x-1.jpg" />
                <p>When you're a beginning skier or just trying out the sport to decide if it's the right one for you, it makes sense to rent ski equipment. You can invest in your own ski gear after training a while.</p>

            </div>
            <div class="boxB">
               <img style="height: 200px; width: 100%; display: block;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFLub9q10IPfPIitPNifIWsunpN-94T28ZZev3zJhIrRNNvx41" />
               <p> When you cannot get out to the mountain as much as you would like, renting ski clothes is a very viable option. You can plan out the number of days you wish to ski, and order your shipment accordingly. </p>

            </div>
            <div class="boxC">
                <img style="height: 200px; width: 100%; display: block;" src="https://yobeat.com/wp-content/uploads/2011/07/Vine_StolenInternetPhoto.png" />
                <p> For beginners, experts, kids or youngsters - in our wide sortiment you'll find the right stuff for your skivacations. We take us time to find the perfect equipment for you.</p>

            </div>
        </div>
    </div>



