@model IEnumerable<SportRentals.ViewModels.CartViewModel>
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout</h2>

@using (Html.BeginForm("ProcessOrder", "Cart", FormMethod.Post, new { id = "customer=form" }))
{



<table>
    <tr>
        <td colspan="3" style="text-align :center;"><b>Customer's Information</b></td>
    </tr>
    <tr>
        <td>Customer Name:</td>
        <td><input type="text" name="customerName" /></td>

    </tr>
    <tr>
        <td>Customer Email:</td>
        <td><input type="text" name="customerEmail" /></td>

    </tr>
    <tr>
        <td colspan="3"><input type="submit" value="ProcessOrder"/></td>
    </tr>
   

</table>
}