
@{
    ViewBag.Title = "OrderSucces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p class="aligncenter">
    <img src="https://instyletailors.com/wp-content/uploads/2018/01/success.jpg" alt="centered image" />

    <h4>Your order has been placed succesfully! Please click @Html.ActionLink("Here", "Index", "ProductUser") to return to shop!</h4>

    <style>
    .aligncenter {
        text-align: center;
    }
   </style>

 </p>