
@{
    ViewBag.Title = "OrderSucces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>Your order has been placed successfully! Please click @Html.ActionLink("Here","Index", "ProductUser") to return to shop!</h4>
