@model IEnumerable<SportRentals.ViewModels.CartViewModel>

@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
@*<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>*@
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    @foreach (var item in Model)
                    {
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="product-name"><strong>@item.Product</strong></h6>
                            </div>
                                <div class="col-sm-5 text-right">
                                    <h7><strong>@Html.DisplayFor(modelItem => item.SubTotal)</strong></h7>

                            </div>
                        </div>
                        <hr>
                    }


                </div>
                <div class="panel-footer">
                    <div class="row text-center">
                        <div class="col-sm-9">
                            <h5 class="text-right"><strong>Total   </strong>$@ViewData["total"]</h5>
                        </div>
                        <div class="col-sm-3">

                            <a href="@Url.Action("ProcessOrder","Cart")"
                               class="btn btn-success btn-block">Checkout</a>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
          
